.container
{	
	position:relative;
	padding: 0;
	margin: 0;
	background-image: url('/Coder.png');
	background-size: 150% 140%;
	width: 100%;
	top: 0;
	left: 0;
	animation-name: fadeIn;
	animation-duration: 10s;
	min-width: 89%;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	@-webkit-animation-name: fadeIn
	@-webkit-animation-duration:10s;
	@-webkit-animarion-iteration-count: infinite;
	@-webkit-animation-timing-funtion:steps();
}
.clear
{
	clear: both;
}
@keyframes fadeIn
{
	0%{background-position: 100% 0%;}
	50%{background-position: 100% 350%;}
	100%{background-position: 100% 350%;}
}
#regform
{	
	display: inline;
	position: relative;
	color: white;
	font-family: century-schoolbook;
	float: right;
	right: 15%;
	width: 25%;
}
.bannerhead
{	
	position: relative;
	border-bottom: 2px solid white;
	padding-bottom: 1%;
	float: left;
	margin: 0;
	padding-left: 1.5%;
	padding-top: 1%;
	background-color: black;
	font-family: cursive;
	color: white;
	width: 100%;
	font-size: 30px;
}
.loginny
{
	position: relative;
	width: 35%;
	top: 50%;
	right: 0%;
}
.loginybuttony
{
	width:30%;
	font-size: 20px;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	border-radius: 20px;
}
.loginybuttony:hover
{
	font-size: 30px;
}
.loginybuttony:active
{
	font-size: 25px;
}
.signupybuttony
{	
	border-radius: 20px;
	width: 70%;
	font-size: 25px;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}
.signupybuttony:hover
{
	font-size: 30px;
}
.signupybuttony:active
{
	font-size: 28px;
}
.names
{
	width: 45%;
	padding-left: 10px;
	font-size: 20px;
	border-radius: 8px;
}
.formytexty
{
	position: relative;
	padding-left: 10px;
	width: 100%;
	font-size: 20px;
	border-radius: 8px;
}
.loggyinny
{
	position: relative;
	padding-right: 30px;
	float: right;
}