.container
{	
	padding: 0;
	margin: 0;
	background-image: url('/Coder.png');
	background-size: cover;
  background-position: -300px 100px;
	animation-name: fadeIn;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: steps();
	@-webkit-animation-name: fadeIn
	@-webkit-animation-duration:10s;
	@-webkit-animarion-iteration-count: infinite;
	@-webkit-animation-timing-funtion:steps();
}
.clear
{
	clear: both;
}
@keyframes fadeIn
{
	0%{background-position: -300px 100px;}
	30%{background-position: -300px -610px;}
	100%{background-position: -300px -610px;}
}
#regform
{	
	display: inline;
	position: absolute;
	left: 800px;
	color: white;
	font-family: century-schoolbook;
	float: right;
	max-width: 600px;
}
.bannerhead
{	
	border-bottom: 2px solid white;
	padding-bottom: 10px;
	float: left;
	margin: 0;
	padding-left: 30px;
	padding-top: 10px;
	background-color: black;
	font-family: cursive;
	color: white;
	width: 100%;
	font-size: 30px;
}
.loginybuttony
{
	width: 200px;
	font-size: 20px;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	border-radius: 20px;
}
.loginybuttony:hover
{
	font-size: 30px;
}
.loginybuttony:active
{
	font-size: 25px;
}
.signupybuttony
{	
	border-radius: 20px;
	width: 400px;
	font-size: 25px;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}
.signupybuttony:hover
{
	font-size: 30px;
}
.signupybuttony:active
{
	font-size: 28px;
}
.names
{
	width: 45%;
	padding-left: 10px;
	font-size: 20px;
	border-radius: 8px;
}
.formytexty
{
	padding-left: 10px;
	width: 100%;
	font-size: 20px;
	border-radius: 8px;
}
.loggyinny
{
	padding-right: 30px;
	float: right;
}