body 
{
    font-family: sans-serif;
    margin-top: 75px;
    background-color:black;
}
@keyframes demo 
{
    from{right: 0;}
    to{right: 600px;}
    0% {opacity:0;}
    25% {opacity:0.25;}
    50% {opacity:0.5;}
    75% {opacity:0.75;}
    100%{opacity:1;}
}

@-moz-keyframes demo 
{ /* Firefox */
    from{right: 0;}
    to{right: 600px;}
    0% {opacity:0;}
    25% {opacity:0.25;}
    50% {opacity:0.5;}
    75% {opacity:0.75;}
    100%{opacity:1;}
}

@-webkit-keyframes demo 
{ /* Safari and Chrome */
    from{right: 0;}
    to{right: 600px;}
    0% {opacity:0;}
    25% {opacity:0.25;}
    50% {opacity:0.5;}
    75% {opacity:0.75;}
    100%{opacity:1;}
}

@-o-keyframes demo 
{ /* Opera */
    from{right: 0;}
    to{right: 600px;}
    0% {opacity:0;}
    25% {opacity:0.25;}
    50% {opacity:0.5;}
    75% {opacity:0.75;}
    100%{opacity:1;}

}
.slideIn
 {
   animation:demo 7s infinite;
   -moz-animation:demo 7s; /* Firefox */
   -webkit-animation:demo 7s; /* Safari and Chrome */
   -o-animation:demo 7s; /* Opera */
}
.slideInFirst
{
    position:absolute;
    animation:demo 6s infinite;
   animation-delay: 0s,0s;	
   -moz-animation-delay: 0s, 0s;
   -webkit-animation-delay: 0s, 0s;
   -o-animation-delay: 0s, 0s;
}
.slideInSecond
{
    position:absolute;
    animation:demo 6s infinite;
   animation-delay: -3s;	
   -moz-animation-delay: -3s;
   -webkit-animation-delay: -3s;
   -o-animation-delay: -3s;
}
.propic
{
    text-align: left;
}
.center 
{
    text-align: center;
}

.text-big 
{
    font-size: 300%;
}

.bold 
{
    font-weight: bold;
}
.myid
{
    font-weight:bold;
}
.img-medium 
{
    height: 200px;
}

.marginright
{
    padding-left:10px;
    height:760px;
    border-left:1px solid white;
    float:left;
    margin-left:20px;
}
.lefty
{
    float:left;
}
.navi
{
    font-size:20px;
    float:left;
    width:150px;
}
.margintop
{
    padding-left:300px;
    padding-bottom:10px;
    width:766px;
    border-top:1px solid white;
    text-align:center;
    margin-top:20px;
}