#bodyback
{
  background-color: black;
  font-family: sans-serif;
  position:fixed;
  background-position: 300px -100px;
  background-size: cover;
  background-image: url("/ui/Coder.png");
  background-repeat: no-repeat;
}
#container
{
  height: 768px;
  width: 1366px;
  background-color: black;
  font-family: sans-serif;
  position:fixed;
  background-position: 300px -100px;
  background-size: cover;
  background-image: url("/ui/Coder.png");
  background-repeat: no-repeat;
}
@WebFilter(servletNames={"Faces Servlet"}) // Must match <servlet-name> of your FacesServlet.
public class NoCacheFilter implements Filter {

    @Override
    public void doFilter(ServletRequest request, ServletResponse response, FilterChain chain) throws IOException, ServletException {
        HttpServletRequest req = (HttpServletRequest) request;
        HttpServletResponse res = (HttpServletResponse) response;

        if (!req.getRequestURI().startsWith(req.getContextPath() + ResourceHandler.RESOURCE_IDENTIFIER)) { // Skip JSF resources (CSS/JS/Images/etc)
            res.setHeader("Cache-Control", "no-cache, no-store, must-revalidate"); // HTTP 1.1.
            res.setHeader("Pragma", "no-cache"); // HTTP 1.0.
            res.setDateHeader("Expires", 0); // Proxies.
        }

        chain.doFilter(request, response);
    }

    // ...
}
@keyframes fadeIn
{
  from{opacity: 0;}
  to{opacity: 1;}
}
@-webkit-keyframes fadeIn
{/*Safari and Chrome*/
  from{opacity: 0;}
  to{opacity: 1;}
}
@keyframes slideIn
 {
    from {right: -900px;opacity: 0;}
    to {right: 0;opacity: 1;}
}
@-webkit-keyframes slideIn
 { /* Safari and Chrome */
    from {right: -900px;opacity: 0;}
    to {right: 0;opacity: 1;}
}
.enterSlide
{
    position: relative;
    -webkit-animation: slideIn;
    animation: slideIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}
.enterFade
{
  animation: fadeIn;
  -webkit-animation: fadeIn;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}
.whitehead
{
  color: white;
  font-style: italic;
  max-width: 600px;
}
.propic
{
    max-width: 200px;
}
.navi
{
  height: 400px;
  color: white;
  width: 250px;
  border-right: 1px solid white;
}
input
{
  -webkit-border-radius: 10px;
  opacity: 0.25;
  font-size: 20px;
  @-webkit-trainsition-property:opacity;
  @-webkit-transition-property: font-size;
  @-webkit-transition-duration: 0.1s;
  @-webkit-transition-timing-function:ease;
  transition-property: font-size;
  transition-duration: 0.1s;
  transition-timing-function:ease;
}
input:hover
{
  opacity: 0.75;
  font-size: 30px;
}
input:active
{
  opacity: 1;
  font-size: 25px;
}
