body
{
    background-color: black;
    font-family: sans-serif;
    margin-top: 75px;
    background-position: -200px 50px;
    background-size: cover;
    background-image: url("/ui/Coder.png");
    background-repeat: no-repeat;
}
@keyframes demo
{
    from{right: 0;opacity: 0;}
    to{right: 1150px;opacity: 1;}
}
@keyframes demotwo
{
    from{right: 0;opacity: 0;}
    to{right: 1150px;opacity: 1;}
}
@keyframes demothree
{
    from{right: 0;opacity: 0;}
    to{right: 1150px;opacity: 1;}
}
@keyframes demofour
{
    from{right: 0;opacity: 0;}
    to{right: 1150px;opacity: 1;}
}
@keyframes demofive
{
    from{right: 0;opacity: 0;}
    to{right: 1150px;opacity: 1;}
}
@keyframes demosix
{
    from{right: 0;opacity: 0;}
    to{right: 1150px;opacity: 1;}
}
@-moz-keyframes demo
{ /* Firefox */
  from{right: 0;opacity: 0;}
  to{right: 1150px;opacity: 1;}
}
@-moz-keyframes demotwo
{ /* Firefox */
  from{right: 0;opacity: 0;}
  to{right: 1150px;opacity: 1;}
}
@-moz-keyframes demothree
{ /* Firefox */
  from{right: 0;opacity: 0;}
  to{right: 1150px;opacity: 1;}
}
@-moz-keyframes demofour
{ /* Firefox */
  from{right: 0;opacity: 0;}
  to{right: 1150px;opacity: 1;}
}
@-moz-keyframes demofive
{ /* Firefox */
  from{right: 0;opacity: 0;}
  to{right: 1150px;opacity: 1;}
}

@-webkit-keyframes demosix
{ /* Safari and Chrome */
  from{right: 0;opacity: 0;}
  to{right: 1150px;opacity: 1;}
}

@-o-keyframes demo
{ /* Opera */
  from{right: 0;opacity: 0;}
  to{right: 1150px;opacity: 1;}

}
@-o-keyframes demotwo
{ /* Opera */
  from{right: 0;opacity: 0;}
  to{right: 1150px;opacity: 1;}

}
@-o-keyframes demothree
{ /* Opera */
  from{right: 0;opacity: 0;}
  to{right: 1150px;opacity: 1;}

}
@-o-keyframes demofour
{ /* Opera */
  from{right: 0;opacity: 0;}
  to{right: 1150px;opacity: 1;}

}
@-o-keyframes demofive
{ /* Opera */
  from{right: 0;opacity: 0;}
  to{right: 1150px;opacity: 1;}

}
@-o-keyframes demosix
{ /* Opera */
  from{right: 0;opacity: 0;}
  to{right: 1150px;opacity: 1;}

}
.namplace
{
  align-content: center;
  position: relative;
  left: 300px;
}
.slideIn
 {
   animation:demo 10s;
   -moz-animation:demo 7s; /* Firefox */
   -webkit-animation:demo 7s; /* Safari and Chrome */
   -o-animation:demo 7s; /* Opera */
}
.slideInFirst
{
    position:absolute;
    animation:demo 5s 1;
   animation-delay: 0s,0s;
   -moz-animation-delay: 0s, 0s;
   -webkit-animation-delay: 0s, 0s;
   -o-animation-delay: 0s, 0s;
}
.slideInSecond
{
    position:absolute;
    animation:demotwo 6s 1;
   animation-delay: 0s;
   -moz-animation-delay: 0s;
   -webkit-animation-delay: 0s;
   -o-animation-delay: 0s;
}
.slideInThird
{
    position:absolute;
    animation:demothree 7s 1;
   animation-delay: 0s;
   -moz-animation-delay: 0s;
   -webkit-animation-delay: 0s;
   -o-animation-delay: 0s;
}
.slideInFourth
{
    position:absolute;
    animation:demofour 8s 1;
   animation-delay: 0s;
   -moz-animation-delay: 0s;
   -webkit-animation-delay: 0s;
   -o-animation-delay: 0s;
}
.slideInFifth
{
    position:absolute;
    animation:demofive 9s 1;
   animation-delay: 0s;
   -moz-animation-delay: 0s;
   -webkit-animation-delay: 0s;
   -o-animation-delay: 0s;
}
.slideInSixth
{
    position:absolute;
    animation:demofive 10s 1;
   animation-delay: 0s;
   -moz-animation-delay: 0s;
   -webkit-animation-delay: 0s;
   -o-animation-delay: 0s;
}
.propic
{
    text-align: left;
}
.center
{
    text-align: center;
}

.text-big
{
    font-size: 300%;
}

.bold
{
    font-weight: bold;
}
.myid
{
    font-weight:bold;
}
.img-medium
{
    height: 200px;
}

.marginright
{
    padding-left: 20px;
    height:760px;
    border-left:1px solid white;
    float:left;
    margin-left:20px;
}
.lefty
{
    float:left;
}
.navi
{
    font-size:20px;
    float:left;
    width:200px;
}
.margintop
{
    padding-left: 100px;
    padding-right:100px;
    padding-bottom:10px;
    width:766px;
    border-top:1px solid white;
    text-align:center;
    margin: 20px;
}
.boxy
{
  position: relative;
  left: 200px;
  width: auto;
  height: 100px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
